* {
  box-sizing: border-box;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #121314;
  color: white;
}

header {
  padding: 5px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid gray;
  background-color: #1a1b1c;
  text-align: left;
}

.app-info {
  display: flex;
}

.title {
  font-size: 1.75rem;
}

.credit {
  font-size: 0.7rem;
  color: silver;
  text-decoration: none;
}

.credit:hover {
  color: whitesmoke;
}

.header-text {
  margin: 0 10px;
}

.header-text p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.logo {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.reset-button {
  border-radius: 5px;
  border: 1px solid white;
  font-size: 1.5rem;
  padding: 2px 10px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  color: white;
}

.reset-button:hover {
  background-color: white;
  color: #1a1b1c;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
  width: 65vh;
  margin: 2% auto 0;
}

.cell {
  position: relative;
  border: 3px solid #aaa;
  height: 33.33%;
  width: 33.33%;
  font-size: 15vh;
  user-select: none;
}

.cell.DR {
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 4px),
    rgba(70%, 70%, 70%, 1) calc(50% - 3px),
    rgba(70%, 70%, 70%, 1) 50%,
    rgba(70%, 70%, 70%, 1) calc(50% + 3px),
    rgba(0, 0, 0, 0) calc(50% + 4px),
    rgba(0, 0, 0, 0) 100%
  );
}
.cell.DL {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 4px),
    rgba(70%, 70%, 70%, 1) calc(50% - 3px),
    rgba(70%, 70%, 70%, 1) 50%,
    rgba(70%, 70%, 70%, 1) calc(50% + 3px),
    rgba(0, 0, 0, 0) calc(50% + 4px),
    rgba(0, 0, 0, 0) 100%
  );
}
.cell.H {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 4px),
    rgba(70%, 70%, 70%, 1) calc(50% - 3px),
    rgba(70%, 70%, 70%, 1) 50%,
    rgba(70%, 70%, 70%, 1) calc(50% + 3px),
    rgba(0, 0, 0, 0) calc(50% + 4px),
    rgba(0, 0, 0, 0) 100%
  );
}
.cell.V {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 4px),
    rgba(70%, 70%, 70%, 1) calc(50% - 3px),
    rgba(70%, 70%, 70%, 1) 50%,
    rgba(70%, 70%, 70%, 1) calc(50% + 3px),
    rgba(0, 0, 0, 0) calc(50% + 4px),
    rgba(0, 0, 0, 0) 100%
  );
}

.cell:nth-of-type(3n + 1) {
  border-left: none;
}

.cell:nth-of-type(1),
.cell:nth-of-type(2),
.cell:nth-of-type(3) {
  border-top: none;
}

.cell:nth-of-type(3n + 3) {
  border-right: none;
}

.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9) {
  border-bottom: none;
}

.board.active .cell:hover {
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.cell span {
  z-index: -1;
}

.cell span.ex {
  position: absolute;
  top: -32.5%;
  left: 14%;
  color: aqua;
  font-size: 22vh;
}

.cell span.oh {
  position: absolute;
  left: 22.5%;
  color: fuchsia;
}

.result {
  color: red;
  text-align: center;
  width: 100%;
  font-size: 4rem;
  margin-top: 5%;
  font-weight: 600;
}

@media (max-width: 768px) {
  html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }

  .board {
    margin: 10% auto;
    height: 90vw;
    width: 90vw;
  }

  header {
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .cell span.ex {
    position: absolute;
    top: -47.5%;
    left: 7.5%;
    font-size: 20vh;
  }

  .cell span.oh {
    position: absolute;
    top: -20%;
    left: 10%;
  }
}
